@model EmployeeVM
@{
    ViewData["Title"] = "modificarProducto";
}

<div class="form-row">
    <div class="col-md-12">
        <form method="post" asp-controller="Home" asp-action="Modificar" class="form-group">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!--nombre-->
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" type="text" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <!--apellido-->
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" type="text" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <!--celilar-->
            <div class="form-group">
                <label asp-for="CellPhone" class="control-label"></label>
                <input asp-for="CellPhone" type="text" class="form-control" />
                <span asp-validation-for="CellPhone" class="text-danger"></span>
            </div>

            <!--date-->
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" type="text" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="container">
                <div class="row">
                    <!--enviar formulario-->
                    <div class="col-sm">
                        <input type="submit" value="Modificar" class="btn btn-outline-dark" />
                    </div>
                    <!--regresar a la lista de mensajes-->
                    <div class="col-sm">
                        <a class="btn btn-outline-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>